*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: dark light;
  font-family:
    system-ui, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4 {
  line-height: 1.1;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
  font-style: italic;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

input, button, select, textarea, optgroup {
  font: inherit;
}

code, kbd, samp, pre {
  font-family:
    ui-monospace, SFMono-Regular, Consolas,
    'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

/*
.container {
  width: min(100% - 3rem, 1000px);
  margin-inline: auto;
}
*/

