@import "reset.css";

:root {
  --fs-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --fs-500: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --fs-600: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --fs-700: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --fs-800: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --fs-900: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
}

body {
  font-size: var(--fs-400);
}

h1 {
  font-size: var(--fs-700);
}

h4 {
  font-size: var(--fs-400);
}
